<section>
  <p id="contact-blurb">Contact directement à <strong>prospection@cours-anglais-clermont.fr</strong> (formulaire en
    service prochainement) </p>
  <div class="container">
    <form (ngSubmit)="processForm()">
      <div class="field">
        <input [(ngModel)]="name" class="input" name="name" placeholder="nom et prénom *" type="text">
      </div>
      <div class="field">
        <input [(ngModel)]="email" class="input" name="email" placeholder="adresse e-mail *" type="email">
      </div>
      <div class="field">
        <input [(ngModel)]="level" class="input" name="level" placeholder="classe / niveau de l'élève" type="text">
      </div>
      <div class="field">
        <textarea [(ngModel)]="message" class="textarea" name="message" placeholder="votre message *"></textarea>
      </div>
      <button class="button is-info is-large" disabled="disabled" type="submit">Envoyer</button>
    </form>
  </div>
</section>
