<section>
  <p id="contact-blurb">Contact directement à <em>prospection@cours-anglais-clermont.fr</em> ou par ce formulaire</p>
  <div class="container">
    <form (ngSubmit)="processForm()">
      <div class="field">
        <input type="text" name="name" class="input" placeholder="nom et prénom *" [(ngModel)]="name">
      </div>
      <div class="field">
        <input type="email" name="email" class="input" placeholder="adresse e-mail *" [(ngModel)]="email">
      </div>
      <div class="field">
        <input type="text" name="level" class="input" placeholder="classe / niveau de l'élève" [(ngModel)]="level">
      </div>
      <div class="field">
        <textarea class="textarea" name="message" placeholder="votre message *" [(ngModel)]="message"></textarea>
      </div>
      <button type="submit" class="button is-info is-large">Envoyer</button>
    </form>
  </div>
</section>
