<header>
  <h1>{{title}}</h1>
  <span id="wip" class="small-print">Site en cours de création, merci pour votre patience.</span>
</header>
<article id="main">
  <section>
    <h2>L'offre</h2>
    <ul>
      <li><strong>18€/h TTC</strong> - Déplacement à domicile</li>
      <li>Avant la première heure, test de niveau général écrit</li>
      <li>Première heure offerte, comprend test de niveau général oral</li>
      <li><a class="link" target="_blank"
             href="https://www.impots.gouv.fr/portail/particulier/emploi-domicile#:~:text=Le%20plafond%20de%20d%C3%A9penses%20retenues,domicile%20(case%207DQ%20de%20la">
        50% de crédit d'impôts</a> sur vos dépenses annuelles en cours d'anglais
      </li>
    </ul>
  </section>
  <section>
    <h2>Le tuteur</h2>
    <ul>
      <li>Alexis DRAI, Formateur Indépendant en Langues et fondateur de cette micro-entreprise (SIRET à venir)</li>
      <li>Professeur particulier d'anglais en région parisienne (2013-2015)</li>
      <li>Assistant d'enseignement dans un collège-lycée écossais, <a class="link" target="_blank"
                                                                      href="https://www.dollaracademy.org.uk/">Dollar
        Academy</a> (2012-2013)
      </li>
      <li>Barman dans un pub londonien du XVIIIème, <a class="link" target="_blank"
                                                       href="https://en.wikipedia.org/wiki/The_Black_Cap">The
        Black
        Cap</a> (2011-2012)
      </li>
      <!--      TODO change url when SSL certificate is active-->
      <li><a class="link" target="_blank" href="http://www.cours-anglais-clermont.fr/assets/licence.jpg">Bac+3</a> à
        l'<a
          class="link" target="_blank"
          href="https://www.westminster.ac.uk/">Université
          de Westminster</a>, Londres, et
        l'<a class="link" target="_blank" href="http://www.uvsq.fr/">Université de Versailles-Saint-Quentin</a>,
        Guyancourt, en
        Langues, Littératures et Civilisations Etrangères, mention anglais (2009-2012)
      </li>
    </ul>
  </section>
  <app-contact></app-contact>
</article>
