<footer>
  <p><span class="small-print">&copy; ribBit 2020</span></p>
  <button class="btn btn-footer">
    <a href="https://github.com/draialexis" target="_blank">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
  </button>
  <button class="btn btn-footer">
    <a href="https://www.freecodecamp.org/ribbit" target="_blank">
      <fa-icon [icon]="faFreeCodeCamp"></fa-icon>
    </a>
  </button>
  <button class="btn btn-footer">
    <a href="https://www.linkedin.com/in/alexisdrai/" target="_blank">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
  </button>
  <button class="btn btn-footer">
    <a href="https://twitter.com/rybByt_" target="_blank">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
  </button>
</footer>
