<section>
  <h2>L'offre</h2>
  <ul>
    <li><strong>18€/h TTC</strong> - <span class="is-capitalized">à</span> domicile & par webcam</li>
    <li>1<sup>ère</sup> heure offerte, comprend tests de niveau général</li>
    <li><a class="link" href="https://www.impots.gouv.fr/portail/particulier/emploi-domicile#:~:text=Le%20plafond%20de%20d%C3%A9penses%20retenues,domicile%20(case%207DQ%20de%20la"
           target="_blank">
      50% de crédit d'impôts
    </a> sur vos dépenses annuelles en cours d'anglais
    </li>
  </ul>
</section>
<section>
  <h2>Le tuteur</h2>
  <ul>
    <li>Alexis DRAI, Formateur Indépendant en Langues, SIRET 795 193 812 00034, APE 8559B</li>
    <li>Professeur particulier d'anglais en région parisienne (2013-2015)</li>
    <li>Assistant d'enseignement dans un collège-lycée écossais,
      <a class="link" href="https://www.dollaracademy.org.uk/" target="_blank">Dollar Academy</a> (2012-2013)
    </li>
    <li>Barman dans un pub londonien du XVIIIème siècle,
      <a class="link" href="https://en.wikipedia.org/wiki/The_Black_Cap" target="_blank">
        The Black Cap
      </a> (2011-2012)
    </li>
    <!--      TODO change url when SSL certificate is active-->
    <li>
      <a class="link" href="https://www.cours-anglais-clermont.fr/assets/licence.jpg" target="_blank">
        Bac+3
      </a> à l'
      <a class="link" href="https://www.westminster.ac.uk/" target="_blank">
        Université de Westminster
      </a>, Londres, et l'
      <a class="link" href="http://www.uvsq.fr/" target="_blank">
        Université de Versailles-Saint-Quentin
      </a>, Guyancourt, en Langues, Littératures et Civilisations Etrangères, mention anglais (2009-2012)
    </li>
  </ul>
</section>
