body {
  height: 90vh;
  margin-bottom: 10vh;
}

strong {
  font-size: 110%;
}

li {
  list-style: circle !important;
}

.small-print {
  font-size: 0.8em;
}

h1 {
  color: #369;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 175%;
}

section {
  margin: 0.5em 3em;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

p, ul {
  font-family: 'Asap', Helvetica, sans-serif;
  padding: 1em 0;
}
