<section id="offer-div">
  <div id="offer-details-div">
    <h2>
      L'offre
    </h2>
    <ul>
      <li>
        <strong>18€/h</strong>
      </li>
      <li>
        1<sup>ère</sup>heure offerte, comprend tests de niveau général
      </li>
      <li>
        <a class="fancy-link" href="https://www.impots.gouv.fr/portail/particulier/emploi-domicile" target="_blank">
          50% de crédit d'impôts
        </a>
        &nbsp;sur vos dépenses annuelles en cours d'anglais, (accréditation Services à la Personne N°
        SAP795193812 délivrée le 14/09/2020)
      </li>
    </ul>
  </div>
  <div id="offer-logo-div">
    <a class="fancy-link" href="https://www.impots.gouv.fr/portail/particulier/emploi-domicile"
       target="_blank">
      <img id="sap-logo" src="src/assets/Traceur_SAP_web_rvb_jpg.jpg"
           alt="Professionnel accrédité pour les Services à la Personne">
    </a>
  </div>
</section>
