<div (click)=toggleDisplay() class="fancy-link">CGV</div>
<section [hidden]="isHide">
  <h1>CONDITIONS GENERALES DE VENTE</h1>

  En vigueur au 15/07/2021


  <h2>ARTICLE 1 - Champ d'application</h2>

  Les présentes Conditions Générales de Vente (dites « CGV ») s'appliquent, sans restriction ni réserve à tout achat des
  services de suivants :
  - cours particuliers d'anglais à domicile
  tels que proposés par le Prestataire aux clients non professionnels (« Les Clients ou le Client ») sur le site
  www.cours-anglais-clermont.fr.

  Les caractéristiques principales des Services sont présentées sur le site internet www.cours-anglais-clermont.fr.

  Le Client est tenu d'en prendre connaissance avant toute passation de commande. Le choix et l'achat d'un Service est
  de la seule responsabilité du Client.

  Ces CGV sont accessibles à tout moment sur le site www.cours-anglais-clermont.fr et prévaudront sur toute autre
  document.

  Le Client déclare avoir pris connaissance des présentes CGV et les avoir acceptées en cochant la case prévue à cet
  effet avant la mise en œuvre de la procédure de commande en ligne du site www.cours-anglais-clermont.fr.

  Sauf preuve contraire, les données enregistrées dans le système informatique du Prestataire constituent la preuve de
  l'ensemble des transactions conclues avec le Client.

  Les coordonnées du Prestataire sont les suivantes :
  Alexis DRAI
  15 Rue de la Tannerie
  numéro SIRET : 795 193 812 00042
  E-mail : alexis@cours-anglais-clermont.fr
  téléphone : +33663620277

  <h2>ARTICLE 2 - Prix</h2>

  Les Services sont fournis aux tarifs en vigueur figurant sur le site www.cours-anglais-clermont.fr, lors de
  l'enregistrement de la commande par le Prestataire.

  Les prix sont exprimés en Euros, HT et TTC.

  Les tarifs tiennent compte d'éventuelles réductions qui seraient consenties par le Prestataire sur le site
  www.cours-anglais-clermont.fr.

  Ces tarifs sont fermes et non révisables pendant leur période de validité mais le Prestataire se réserve le droit,
  hors période de validité, d’en modifier les prix à tout moment.

  Le paiement demandé au Client correspond au montant total de l'achat, y compris ces frais.
  Une facture est établie par le Prestataire et remise au Client lors de la fourniture des Services commandés.

  <h2>ARTICLE 3 – Commandes</h2>

  Il appartient au Client de solliciter les Services qu'il désire commander, selon les modalités suivantes :
  le Client et le Prestataire entreront en communication et conviendront d'un horaire et d'une date pour la prestation
  de service, en fonction des besoins spécifiques du Client.

  La vente ne sera considérée comme valide qu’après paiement intégral du prix. Il appartient au Client de vérifier
  l'exactitude de la commande et de signaler immédiatement toute erreur.

  Toute commande passée sur le site www.cours-anglais-clermont.fr constitue la formation d'un contrat conclu à distance
  entre le Client et le Prestataire.

  Le Prestataire se réserve le droit d'annuler ou de refuser toute commande d'un Client avec lequel il existerait un
  litige relatif au paiement d'une commande antérieure.

  <h2>ARTICLE 4 - Conditions de paiement</h2>

  Le prix est payé par voie de paiement sécurisé, selon les modalités suivantes :
  • paiement par carte bancaire
  • ou paiement par virement bancaire sur le compte bancaire du Vendeur (dont les coordonnées sont communiquées au
  Client lors de la passation de la commande)

  Le prix est payable en totalité et en un seul versement dans un délai de 60 jours à compter de la livraison, telle que
  définie à l'article « Fourniture des Prestations » et comme précisé sur la facture adressée au Client.

  Les données de paiement sont échangées en mode crypté grâce au protocole défini par le prestataire de paiement agréé
  intervenant pour les transactions bancaires entre le Client et le Prestataire.

  Les paiements effectués par le Client ne seront considérés comme définitifs qu'après encaissement effectif des sommes
  dues par le Prestataire.

  <h2>ARTICLE 5 - Fourniture des Prestations</h2>

  Les Services commandés par le Client seront fournis selon les modalités suivantes :
  prestation de formation en langues (anglais) au domicile du Client, à Clermont Ferrand et dans ses environs immédiats,
  avec déplacement à domicile entre 8h et 20h et réservation au moins 24h à l'avance.

  Lesdits Services seront fournis dans un délai maximum de 60 jours à compter de la validation définitive de la commande
  du Client, dans les conditions prévues aux présentes CGV, à l'adresse indiquée par le Client lors de sa commande.

  Le Prestataire s'engage à faire ses meilleurs efforts pour fournir les Services commandés par le Client, dans le cadre
  d'une obligation de moyen et dans les délais ci-dessus précisés.

  Si les Services commandés n'ont pas été fournis dans un délai de 15 minutes après la date indicative de fourniture,
  pour toute autre cause que la force majeure ou le fait du Client, la vente des Services pourra être résolue à la
  demande écrite du Client dans les conditions prévues aux articles L 216-2, L 216-3 et L241-4 du Code de la
  consommation. Les sommes versées par le Client lui seront alors restituées au plus tard dans les quatorze jours qui
  suivent la date de dénonciation du contrat, à l'exclusion de toute indemnisation ou retenue.

  En cas de demande particulière du Client concernant les conditions de fourniture des Services, dûment acceptées par
  écrit par le Prestataire, les coûts y étant liés feront l'objet d'une facturation spécifique complémentaire
  ultérieure.

  A défaut de réserves ou réclamations expressément émises par le Client lors de la réception des Services, ceux-ci
  seront réputés conformes à la commande, en quantité et qualité.

  Le Client disposera d'un délai de 14 jours à compter de la fourniture des Services pour émettre des réclamations par
  lettre recomandée avec AR, avec tous les justificatifs y afférents, auprès du Prestataire.

  Aucune réclamation ne pourra être valablement acceptée en cas de non respect de ces formalités et délais par le
  Client.

  Le Prestataire remboursera ou rectifiera dans les plus brefs délais et à ses frais les Services dont le défaut de
  conformité aura été dûment prouvé par le Client.

  <h2>ARTICLE 6 - Droit de rétractation</h2>

  Compte tenu de la nature des Services fournis, les commandes passées par le Client ne bénéficient pas du droit de
  rétractation.
  Le contrat est donc conclu de façon définitive dès la passation de la commande par le Client selon les modalités
  précisées aux présentes CGV.

  <h2>ARTICLE 7 - Responsabilité du Prestataire - Garanties</h2>

  Le Prestataire garantit, conformément aux dispositions légales et sans paiement complémentaire, le Client, contre tout
  défaut de conformité ou vice caché, provenant d'un défaut de conception ou de réalisation des Services commandés dans
  les conditions et selon les modalités suivantes :
  Dispositions relatives aux garanties légales
  Article L217-4 du Code de la consommation
  « Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la
  délivrance. Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de
  l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité. »
  Article L217-5 du Code de la consommation
  « Le bien est conforme au contrat :
  1° S'il est propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :
  - s'il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à
  l'acheteur sous forme d'échantillon ou de modèle ;
  - s'il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par
  le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;
  2° Ou s'il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage
  spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté. »
  Article L217-12 du Code de la consommation
  « L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien. »
  Article L217-16 du Code de la consommation.
  « Lorsque l'acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de
  l'acquisition ou de la réparation d'un bien meuble, une remise en état couverte par la garantie, toute période
  d'immobilisation d'au moins sept jours vient s'ajouter à la durée de la garantie qui restait à courir. Cette période
  court à compter de la demande d'intervention de l'acheteur ou de la mise à disposition pour réparation du bien en
  cause, si cette mise à disposition est postérieure à la demande d'intervention. »
  Afin de faire valoir ses droits, le Client devra informer le Prestataire, par écrit (mail ou courrier), de l'existence
  des vices ou défauts de conformité.
  Le Prestataire remboursera ou rectifiera ou fera rectifier (dans la mesure du possible) les services jugés défectueux
  dans les meilleurs délais et au plus tard dans les 14 jours suivant la constatation par le Prestataire du défaut ou du
  vice. Ce remboursement pourra être fait par virement ou chèque bancaire.
  La garantie du Prestataire est limitée au remboursement des Services effectivement payés par le Client.
  Le Prestataire ne pourra être considéré comme responsable ni défaillant pour tout retard ou inexécution consécutif à
  la survenance d'un cas de force majeure habituellement reconnu par la jurisprudence française.
  Les Services fournis par l'intermédiaire du site www.cours-anglais-clermont.fr du Prestataire sont conformes à la
  réglementation en vigueur en France. La responsabilité du Prestataire ne saurait être engagée en cas de non respect de
  la législation du pays dans lequel les Services sont fournis, qu'il appartient au Client, qui est seul responsable du
  choix des Services demandés, de vérifier.

  <h2>ARTICLE 8 - Données personnelles</h2>

  Le Client est informé que la collecte de ses données à caractère personnel est nécessaire à la vente des Services et
  leur réalisation et leur délivrance, ainsi qu'à leur transmission à des tiers intervenant dans la réalisation des
  Services. Ces données à caractère personnel sont récoltées uniquement pour l’exécution du contrat de prestations de
  services.

  <h3>8.1 Collecte des données à caractère personnel</h3>

  Les données à caractère personnel qui sont collectées sur le site www.cours-anglais-clermont.fr sont les suivantes :

  Commande de Prestations :
  Lors de la commande de Prestations par le Client :
  Noms, prénoms, adresse postale, numéro de téléphone et adresse e-mail.

  Paiement
  Dans le cadre du paiement des Prestations proposés sur le site www.cours-anglais-clermont.fr, celui-ci enregistre des
  données financières relatives au compte bancaire ou à la carte de crédit du Client / utilisateur.

  <h3>8.2 Destinataires des données à caractère personnel</h3>

  Les données à caractère personnel sont utilisées par le Prestataire et ses co-contractants pour l’exécution du contrat
  et pour assurer l’efficacité de la prestation de services, sa réalisation et sa délivrance.
  La ou les catégorie(s) de co-contractant(s) est (sont) :
  • logiciel de comptabilité, plateforme d'apprentissage en ligne
  Le responsable de traitement des données est le Prestataire, au sens de la loi Informatique et libertés et à compter
  du 25 mai 2018 du Règlement 2016/679 sur la protection des données à caractère personnel.

  <h3>8.4 limitation du traitement</h3>

  Sauf si le Client exprime son accord exprès, ses données à caractère personnelles ne sont pas utilisées à des fins
  publicitaires ou marketing.

  <h3>8.5 Durée de conservation des données</h3>

  Le Prestataire conservera les données ainsi recueillies pendant un délai de 5 ans, couvrant le temps de la
  prescription de la responsabilité civile contractuelle applicable.

  <h3>8.6 Sécurité et confidentialité</h3>

  Le Prestataire met en œuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de
  sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et accès non
  autorisés. Toutefois il est à signaler qu’Internet n’est pas un environnement complètement sécurisé et le Prestataire
  ne peut garantir la sécurité de la transmission ou du stockage des informations sur Internet.

  <h3>8.7 Mise en œuvre des droits des Clients et utilisateurs</h3>

  En application de la règlementation applicable aux données à caractère personnel, les Clients et utilisateurs du site
  www.cours-anglais-clermont.fr disposent des droits suivants :
  • Ils peuvent mettre à jour ou supprimer les données qui les concernent de la manière suivante :
  - par courrier ou e-mail.
  • Ils peuvent supprimer leur compte en écrivant à alexis@cours-anglais-clermont.fr.
  • Ils peuvent exercer leur droit d’accès pour connaître les données personnelles les concernant en écrivant à
  alexis@cours-anglais-clermont.fr.
  • Si les données à caractère personnel détenues par le Prestataire sont inexactes, ils peuvent demander la mise à jour
  des informations des informations en écrivant à alexis@cours-anglais-clermont.fr.
  • Ils peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en
  matière de protection des données en écrivant à alexis@cours-anglais-clermont.fr.
  • Ils peuvent également solliciter la portabilité des données détenues par le Prestataire vers un autre prestataire
  • Enfin, ils peuvent s’opposer au traitement de leurs données par le Prestataire

  Ces droits, dès lors qu’ils ne s’opposent pas à la finalité du traitement, peuvent être exercé en adressant une
  demande par courrier ou par e-mail au Responsable de traitement dont les coordonnées sont indiquées ci-dessus.

  Le responsable de traitement doit apporter une réponse dans un délai maximum d’un mois.
  En cas de refus de faire droit à la demande du Client, celui-ci doit être motivé.

  Le Client est informé qu’en cas de refus, il peut introduire une réclamation auprès de la CNIL (3 place de Fontenoy,
  75007 PARIS) ou saisir une autorité judiciaire.

  Le Client peut être invité à cocher une case au titre de laquelle il accepte de recevoir des mails à caractère
  informatifs et publicitaires de la part du Prestataire. Il aura toujours la possibilité de retirer son accord à tout
  moment en contactant le Prestataire (coordonnées ci-dessus) ou en suivant le lien de désabonnement.

  <h2>ARTICLE 9 - Propriété intellectuelle</h2>

  Le contenu du site www.cours-anglais-clermont.fr est la propriété du Vendeur et de ses partenaires et est protégé par
  les lois françaises et internationales relatives à la propriété intellectuelle.

  Toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un
  délit de contrefaçon.

  <h2>ARTICLE 10 - Droit applicable - Langue</h2>

  Les présentes CGV et les opérations qui en découlent sont régies et soumises au droit français.

  Les présentes CGV sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs
  langues étrangères, seul le texte français ferait foi en cas de litige.

  <h2>ARTICLE 11 - Litiges</h2>

  Pour toute réclamation, merci de contacter le Prestataire à son adresse postale ou e-mail indiquée à l’ARTICLE 1 des
  présentes CGV.

  Le Client est informé qu'il peut en tout état de cause recourir à une médiation conventionnelle, auprès des instances
  de médiation sectorielles existantes ou à tout mode alternatif de règlement des différends (conciliation, par exemple)
  en cas de contestation.

  En l’espèce, le médiateur désigné est
  _______________
  _______________
  _______________
  E-mail : _______________

  Le Client est également informé qu’il peut également recourir à la plateforme de Règlement en Ligne des Litige (RLL) :
  https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show

  Tous les litiges auxquels les opérations d'achat et de vente conclues en application des présentes CGV et qui
  n’auraient pas fait l’objet d’un règlement amiable entre le vendeur ou par médiation, seront soumis aux tribunaux
  compétents dans les conditions de droit commun.

</section>
